@import './../../shared/styles/variables';
@import './../../shared/styles/mixins';

.btn-exit{
    @include btn-exit;
}

body{
    @include body($main-color);
    font-size: 18px;
}

.menu-block{
    margin-top:50px;
    position: relative;
}


.list-group-item{
    width: 100%;
    height: 60px;
    color:$main-color;
    white-space: nowrap;
    border-right: 1px solid  rgba(0, 0, 0, 0.125);
    border-top: 1px solid  rgba(0, 0, 0, 0.125);
}

.active-route {
    background-color: white;
    @include text-bold($text-color);
    border-top: 4px solid $primary-color;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.125);
    font-size: 16px;
    margin-top: 0;
    border-right: none;
}

.btn-exit{
    @include btn-exit;
}
.btn-exit:hover{
    border: 3px solid $primary-color;
    background-color: white;
}

.category-title{
    display: block;
    border: 1px solid #dcdcdc;
    padding: 10px 35px 10px 20px;
    border-radius: 10px;
}

.category-block{
    display: block;
}
.active {
    display: block;
}


.spacer-sm {
  height: 40px;
}



@media (max-width:1198px){

    .category-block{
        display: none;
    }
    .list-group-item{
        border-left: 1px solid #dcdcdc;
        border-radius: 10px;
    }
    .active-block {
        display: block;
    }
}

@media (min-width: 1199px){
    .category-title {
        display: none;
    }
}


@media screen and (max-width: 575px){

    .menu-block{
        margin-top: 25px !important;
        font-size: 14px;;
    }
}

@media screen and (max-width: 360px){
    .spacer-sm{
        height: 0 !important;
        display: none !important;
    }
    button{
        font-size: 14px !important;
    }
}
