@import './../../../shared/styles/variables';
@import './../../../shared/styles/mixins';


.form-group .form-title {
    display: flex;
}

.form .form-title {
    margin-bottom: 20px;
}

.title {
    @include text-bold($text-color);
}

.form-group .number-title {
  @include  form-group-number-title;

}

.cabinet_address-buttons {
  @include cabinet-buttons;
}

.btn{
  @include btn-cabinet;
}

.btn-address{
  @include btn-cabinet-left;
}


@media screen and (max-width: 360px){
  
  button{
      font-size: 14px !important;
  }

  .cabinet_address-buttons{
    margin-bottom: 20px !important;
  }
}

@media screen and (max-width: 280px){
  .cabinet_address-buttons{
    display: flex !important;
    flex-wrap: wrap !important;

    & button{
      margin-bottom: 15px !important;
    }
  }
}

