<form class="form" id="user-edit-form">
  <form [formGroup]="authForm" (ngSubmit)="updatePassword()">
    <div class="form-group">
      <div class="form-title title">
        <h5>Зміна паролю</h5>
      </div>
      <div class="row">
        <div class="col-md-12">
          <input formControlName="password" type="password" class="input" name="password" id="password" placeholder="*Ваш поточний пароль" value="" required="">
<!--          <mat-error *ngIf="checkVisibilityError('password', 'matchError')">Password is false</mat-error>-->
        </div>
        <div class="col-md-12">
          <input (input)="checkConfirmPassword()" formControlName="newPassword" type="password" class="input" name="newPassword" id="newPassword" placeholder="*Новий пароль" value="" required="">
        </div>
        <div class="col-md-12">
          <input (input)="checkConfirmPassword()" formControlName="confirmPassword" type="password" class="input" name="confirmPassword" id="confirmPassword" placeholder="*Повторіть пароль" value="" required="">
          <mat-error *ngIf="checkVisibilityError('confirmPassword', 'matchError')">Confirmed password is required</mat-error>
        </div>
      </div>

      </div>


    <div class="cabinet-buttons">
      <button class="btn btn-exit" type="button" (click)="closeDialog()" >Скасувати</button>
      <button class="btn btn-save" type="submit" [disabled]="authForm.invalid">Зберегти зміни </button>
    </div>
  </form>
</form>

