@import '../../shared/styles/fonts';
@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

.main-header{
    @include main-header;
}

hr{
    @include hr;
}

.title{
    font-size: 20px;
    @include text-bold($text-color);
    line-height: 1.4em;
    text-transform: uppercase;
    transition: 0.35s;
    text-align: center;
    height: 60px;
    line-height: 60px;
    display: block;
}

.card {
    border: none;

    & hr {
        width: 100%;
        border: 3px solid $primary-color;
        border-radius: 10px;
    }

    & img{
        max-width: 697px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }
}

.card-block {

    &:hover img{
        width: 100%;
        transition: .5s;
        transform: scale(1.03);
    }

    &:hover .title{
        color: $primary-color;

    }
}

.btn-more{
    @include btn-detail;
    margin-bottom: 0;
    line-height: unset;
}

.margin-header{
    @include margin-header(110px);
}

a{
    text-decoration: none;
}

@media screen and (max-width: 1599px) {
    .margin-header{
        @include margin-header(95px);
    }
}

@media screen and (max-width: 1400px) {

    .main-header{
        margin: 15px 0 40px 0;
    }
}




@media screen and (max-width: 1199px) {
    .title{
        margin-top: 15px;
        margin-bottom: 6px;
        line-height: 1.4em;
        transition: 0.35s;
        margin-top: 20px
    }

}

@media screen and (max-width: 767px) {

    .main-header{
        margin: 20px 0 30px 0;
    }
}
