@import '../../shared/styles/fonts';
@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{    
    font-size: 18px;
    line-height: 1.5em;
    @include body($text-color);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    z-index: 100;
    background-color: #fff;
    transition: .35s;
    
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 5%)
}

ul {
    list-style: none;
}

.header-inner {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .35s;
}

.menu-item{
    width: 99px;
    height: 85px;
    margin-left: 5px;
    text-align: center;
    line-height: 70px;
    transition: color 0.35s;
    text-transform: capitalize;
    position: relative;
    

}

.header-navbar{
    position: relative;
}

.main-nav {
    display: flex;
    align-items: center;
    margin-left: 50px;
    @include text-bold($text-color);
    font-size: 16px;
    height: 100%;
}


.header-logo {
    padding: 0 22px;
    display: flex;
    align-items: center;
    background: $primary-color;
    height: 100%;
    
    & img {
        max-width: 176px;
        display: block;
    }

    & img:last-child {
        display: none;
    }

}



.header-call-back {
    margin-right: auto;

    .btn{
        background-color: $primary-color;
        border: 2px solid transparent;
        border-radius: 10px;
        line-height: 1em;
        text-transform: none;

        padding: 10px 15px 11px;

        &:hover{
            background: #fff;
            border: 2px solid $primary-color;
        }
    }  

    & .btn:last-child {
        display: none;
        border: none;
    }

    & img {
        vertical-align: middle;
        margin-right: 10px;
    }
    
}

.btn{
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    border: none;
    background: none;
    transition: .35s;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
    border-radius: 10px;
    @include text-bold($text-color);
} 

.btn-text{
    padding-left: 5px;
}

.header-info {
    text-align: center;
    margin-right: auto;
}

.header-phone {
    @include text-bold($text-color);
    font-size: 16px;
    line-height: 1em;
    transition: .35s;
    text-decoration: none;

    &:hover{
        color: $primary-color;
    }
}

.header-work-time {
    font-size: 12px;
    line-height: 1em;
}

b{
    @include text-bold($text-color);
}
.menu-admin{
    padding: 9px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: color .35s;
    margin-right: auto;
    height: 45px;
    width: 45px;
    line-height: 24px;
    @include text-bold($text-color);
    font-size: 12px;
    text-align: center;

    & a span{
        margin-left: -6px;
    }
}


.header-basket {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 154px;
    background: $primary-color;
    width: 100%;
    height: 100%;
    cursor: pointer;
    
    &::before {
        content: '';
        background: $primary-color;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: .35s;
    }

    i {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;

        span {            
            position: absolute;
            top: 0;
            right: -7px;
            color: $text-color;
            line-height: 1em;
            background-color: #fff;
            transition: .35s;
            max-width: 36px;
            border-radius: 100%;
            text-align: center;
        }
    }
}

.basket-price {
    font-size: 16px;
    display: block;
    
    b{
        padding-right: 5px;
    }
}

#menu__toggle {
    opacity: 0;
}
  /* стилизуем кнопку */
.menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 35.5px;
    width: 26px;
    height: 26px;
    margin-left: 11px;
    cursor: pointer;
    z-index: 3;
}
  /* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $text-color;
}
.menu__btn > span::before {
    content: '';
    top: -10px;
}
.menu__btn > span::after {
    content: '';
    top: 10px;
}


.burger-menu {
    width: 50px;
    height: 48px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition:color .35s;
    margin-right: auto;
    margin-left: 15px;
    transition: 0.35s;
    position: relative;
    cursor: pointer;


/* контейнер меню */
.menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: -27px;
    margin: 0;
    padding: 88px 25px 20px 25px;
    list-style: none;
    text-align: start;
    border: 2px solid $primary-color;
    border-radius: 7px;
    z-index: 2;
    background-color: white;
}
}
  /* элементы меню */
.dropdown-menu-item {
    display: block;
    padding: 0 10px;
    @include text-bold($text-color);
    font-size: 16px;
    text-decoration: none;
    max-width: 230px;
    line-height: 50px;
    white-space: nowrap;
}

#menu__toggle{
    &:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    &:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    &:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    &:checked ~ .menu__box {
        visibility: visible;
        left: 0;
    }
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    transition-duration: .25s;
}

.menu__box {
    transition-duration: .25s;

    .border-box{
        border:2px solid #ffffff;
        &:hover{
            border:2px solid $primary-color;
            border-radius: 10px;
        }
    }
}

.menu__item {
    transition-duration: .25s;
}   

.main-nav{
    & a span {
        display: block;
        font-size: 16px;
        @include text-bold($text-color);
        margin-top: 4px;
    }

    & a img {
        display: block;
        margin: 0 auto;
    }

    & a .link-menu{
        position: absolute;
    left: 50%;
    bottom: 9px;
    transform: translate(-50%, 0);
    transition: .35s;
    }
}

.border-menu {
    position: relative;
    cursor: pointer;
    border-radius: 10px;    
    
    &::before,
    &::after {        
        content: '';
        position: absolute;
        border: 2px solid transparent;
        width: 0;
        height: 0;
        border-radius: 7px;
        z-index: -1;
        box-sizing: border-box;
    }

    // This covers the top & right borders (expands right, then down)
    &::before {
        top: 0;
        left: 0;
        border-top-color: transparent;
        border-right-color: transparent;
    }

    // And this the bottom & left borders (expands left, then up)
    &::after {
        bottom: 0;
        right: 0;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    

  // Hover styles
    &:hover::before,
    &:hover::after {
        width: 100%;
        height: 100%;
    }

    &:hover::before {
        border-top-color: $primary-color; // Make borders visible
        border-right-color: $primary-color;
        transition:
            width 0.25s ease-out, // Width expands first
            height 0.25s ease-out 0.25s; // And then height
    }

    &:hover::after {
        border-bottom-color: $primary-color; // Make borders visible
        border-left-color: $primary-color;
        transition:
        border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
            width 0.25s ease-out 0.5s, // And then exanding width
            height 0.25s ease-out 0.75s; // And finally height
    }

}

.checkout_bg{
    background-color: white;
}

.header-basket i span.checkout_bg_color{
    background-color: #b5d8f7;
}


@media screen and (max-width: 1699px) {
    .main-nav {
        margin-left: 15px;
    }

}

@media screen and (max-width: 1599px) {
    header{
        height: 95px;
    }

    .header-logo {
        padding: 0 15px;
    }

    .header-logo img {
        max-width: 136px;
        display: block;
    }
    .menu-item{
        width: 75px;
        height: 70px;
    }    

    .main-nav{
        & a span {
            font-size: 14px;
            margin-top: 4px;
            line-height: 1em;
        }

            & a img {
                width: 28px;
                height: 30px;
            }
    }
    

    .header-basket {
        max-width: 134px;

        & i span {
            font-size: 12px;
            padding-top: 5px;
            min-width: 22px;
            height: 22px;
        }

        .basket-price {
            font-size: 16px;
        }
    }

    .header-call-back {

        & img {
        margin-right: 5px;
        }
    
        & .btn {
            padding: 5px 10px 6px;    
        }   

        & span {
            font-size: 12px;
        }
        
    }   

    
}

@media screen and (max-width: 1340px) {
    .main-nav {
        margin-left: 0;
    }

    .header-call-back img {
        margin-right: 0;
    }

    .header-call-back span {
        display: none;
    }
}    

@media screen and (max-width: 1199px) {
    header{
        height: 60px;
    }

    
    .menu-item{
        width: 75px;
        height: 70px;
    }    

    .main-nav{
        & a span {
            margin-top: 0;
            margin-left: 15px;
        }
    }

    .main-nav a img, .main-nav a span {
        display: inline-block;
        vertical-align: middle;
    }

    .header-basket {
        order:2;
    }

    .header-logo img {
        max-width: 106px;
    }

    .main-nav {
        background: #fff;
        flex-direction: column;
        align-items: baseline;
    }

    .header-navbar{
        position: fixed;
        right: 0;
        width: 50%;
        top: 60px;
        height: calc(100% - 60px);
        overflow-x: hidden;
        overflow-y: scroll;
        background: #fff;    
        transform: translateX(100%);    
        transition: .35s;
    }

    .header-call-back {
        margin-right: 0;
        margin-left: auto;

        & .btn {
            background: transparent;
            padding: 0 10px;
        }

        & .btn:first-child {
            display:none;
        }

        & img {
            width: 14px;
        }

        & .btn:last-child {
            display: block; 
        }

    }

    .header-info {
        display: none;
    }

    .burger-menu {
        order: 1;
        margin-left: 0;        
    }

    .border-menu,
    .border-menu::after,
    .border-menu::before {
        border: none;       
    }

    .menu-admin {
        margin: 0 auto;
    }

    .menu__btn{
        top:15px;
    }
}


.margin-header{
    @include margin-header(110px);
}

@media screen and (max-width: 1599px) {
    .margin-header{
        @include margin-header(95px);
    }
}



@media screen and (max-width: 1199px) {
    .margin-header{
        @include margin-header(60px);
    }
}

@media screen and (max-width: 798px) {

    .header-logo {
        padding: 0 15px;
        width: 70px;
    }

    .header-logo img:first-child {
        display: none;
    }

    .header-logo img:last-child {
        display: block;
        max-width: 40px;
    }

    .header-basket {
        max-width: 70px;

        & i {
            margin-right: 0;
            margin-top: 4px;
            display: block;
        }

        & i img {
            width: 30px;
        }

        & .basket-price {
            display: none;
        }
    }

    
}    