<div class="main-header">
  <hr>
  Продукти
</div>
<div class="container-fluid">
  <div class="categories-menu">
    <ul class="nav nav-tabs categories-list">
      <li class="nav-item col">
        <a class="nav-link active" href="">Всі</a>
      </li>
      <li class="nav-item col" *ngFor="let typeProduct of userTypeProducts">
        <a [routerLink]="[ '/product/{{typeProduct.path}}' ]" routerLinkActive="route-active" class="nav-link" aria-current="page">                      
              <span>{{typeProduct.name}}</span>          
      </a>
      </li>
    </ul>
  </div>
  <div class="row product-row">    
      <ng-container *ngIf="userProducts.length > 0">
        <div class="col-sm-6 col-lg-4 col-xl-3" *ngFor="let product of userProducts">
            <div class="card border-menu">
              <div class="card-img">
                <a class="product_image" [routerLink]="[ '/product', product.id ]">
                  <img [src]="product.imagePath" class="card-img-top" alt="...">
                </a>                  
              </div>
                
                <div class="card-body text-center">
                  <div class="card-title h5 mt-2 mb-2">
                    <a  [routerLink]="[ '/product', product.id ]">{{ product.name }}</a>
                  </div>
                  <div class="product_desc d-flex justify-content-between card-text">
                    <p>{{ product.ingredients }}</p>
                    <div class="product_size">
                      <span class="size">{{ product.weight }}</span>
                    </div>
                  </div>
                </div>  
                  <div class="product_controls d-flex justify-content-between align-items-center mt-2">
                    <div class="product_price-wrap">
                        <div class="product_price" itemprop="price">
                          <b class="price">{{ product.price }}</b> грн</div>
                        <div class="product_price-old" *ngIf="product.price_old"><b class="price-old">{{ product.price_old }}</b> грн</div>
                    </div>
                    <input type="hidden" value="1" readonly="" class="product-qty" tabindex="-1">                    
                      <button class="btn btn-small btn-order" data-id="43707">Замовити</button>                    
                  </div>                  
                
            </div>        
        </div>
      </ng-container>
  </div>
</div>

<div class="spacer-lg"></div>
