<div class="container-fluid">
    <div class="d-flex align-items-start admin-block">
        <div class="nav flex-column list-group list-group-flush me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="list-group-item" [routerLink]="[ 'discount' ]" routerLinkActive="active-route"
                type="button">Акції</button>   
            <button class="list-group-item" [routerLink]="[ 'category' ]" routerLinkActive="active-route"
                type="button">Категорії</button>  
            <button class="list-group-item" [routerLink]="[ 'product-type' ]" routerLinkActive="active-route"
                type="button">Тип товару</button>               
            <button class="list-group-item" [routerLink]="[ 'product' ]" routerLinkActive="active-route"
                type="button">Товари</button>                 
            <button class="list-group-item" [routerLink]="[ 'order' ]" routerLinkActive="active-route" type="button">Замовлення</button>
            <button class="btn-exit" type="button" (click)="logout()">ВИХІД</button>
        </div>
    
        <div class="tab-content w-100" id="v-pills-tabContent">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>