

@font-face {
  font-family: 'RotondaC';
  src: url('./../../../assets/fonts/rotondac.ttf');
}

@font-face {
  font-family: 'RotondaCBold';
  src: url('/assets/fonts/rotondac-bold.ttf') ;
  font-weight:600;
}