
@mixin btn-exit {
    margin: 20px auto;
    background-color: $primary-color;
    color: $text-color;
    font-weight: bold;
    border: 2px solid transparent;
    font-family: 'RotondaCBold' , sans-serif ;
    font-size: 16px;
    border-radius: 7px;
    width: 70px;
    height: 50px;
}

@mixin btn-detail {
    margin-bottom: 50px;
    color:$text-color;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background-color: $primary-color;
    font-weight: bold;
    font-size: 14px;
    border: 2px solid transparent;
    font-family: 'RotondaCBold' , sans-serif ;
    text-transform: uppercase;
    line-height: 34px;

    &:hover{
        border: 2px solid $primary-color;
        background-color: white;
    }
}

@mixin btn-save{
    color: $primary-color;
    border: none;
    font-weight: bold;
    text-decoration: none;
    background: linear-gradient(to bottom, transparent 0%, transparent 90%, $primary-color 100%);
    background-size: 200% 100%;
    background-position: 200% 0;
    background-repeat: no-repeat;
    transition: all 0.5s linear;

    &:hover{
        background-position: 100% 0;
    }
}

@mixin margin-header($h){
    height: $h;
}


@mixin main-header{
    font-size: 42px;
    font-family: 'RotondaCBold' , sans-serif ;
    color: $text-color;
    font-weight: bold;
    margin: 0 auto;
    margin: 30px 0 60px 0;
    text-align: center;
    padding-top: 10px;
    line-height: 1.2 rem;
}

@mixin hr{
    border: 5px solid $primary-color;
    border-radius: 10px;
    width: 150px;
    margin: 0 auto;
    background-color: $primary-color;
}

@mixin body($color){
    font-family: 'RotondaC' , sans-serif ;
    color: $color;
    font-weight: 400;
}

@mixin text-bold($color){
    color: $color;
    font-weight: 700;
    font-family: 'RotondaCBold' , sans-serif ;
}

@mixin ul-style {
    list-style: none;

    & li {
        position: relative;
        line-height: 1.47em;
        font-size: 18px;
    }

    & li::before {
        width: 11px;
        height: 11px;
        position: absolute;
        left: 0;
        top: 9px;
        border-radius: 100%;
        background: $primary-color;
        content: "";
    }

    & li::after {
        width: 9px;
        height: 9px;
        position: absolute;
        left: 1px;
        top: 10px;
        border-radius: 100%;
        border: 2px solid #fff;
        background: transparent;
        content: "";
    }
}


@mixin border-menu {
    position: relative;
    cursor: pointer;
    border-radius: 10px;

    &::before,
    &::after {
        content: '';
        position: absolute;
        border: 2px solid transparent;
        width: 0;
        height: 0;
        border-radius: 7px;
        z-index: -1;
        box-sizing: border-box;
    }

    // This covers the top & right borders (expands right, then down)
    &::before {
        top: 0;
        left: 0;
        border-top-color: transparent;
        border-right-color: transparent;
    }

    // And this the bottom & left borders (expands left, then up)
    &::after {
        bottom: 0;
        right: 0;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }


  // Hover styles
    &:hover::before,
    &:hover::after {
        width: 100%;
        height: 100%;
    }

    &:hover::before {
        border-top-color: $primary-color; // Make borders visible
        border-right-color: $primary-color;
        transition:
            width 0.25s ease-out, // Width expands first
            height 0.25s ease-out 0.25s; // And then height
    }

    &:hover::after {
        border-bottom-color: $primary-color; // Make borders visible
        border-left-color: $primary-color;
        transition:
        border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
            width 0.25s ease-out 0.5s, // And then exanding width
            height 0.25s ease-out 0.75s; // And finally height
    }

}

@mixin btn-order{
    @include btn-detail;
    width: 110px;
    text-transform: uppercase;
    padding: 14px 16px;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 0;
}


@mixin breadcrumbs {
    margin-bottom: 0;
    margin-top: 25px;
    margin-left: 4%;
    font-size: 12px;
    line-height: 13px;
    @include body($main-color);
    list-style: none;

    & li {
        position: relative;
        display: inline-block;
        transition: 0.35s;
        // text-transform: capitalize;
        &:not(:last-child):after {
            content: "";
            position: relative;
            display: inline-block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: $main-color;
            margin: 0 10px 2px;
            border-color: $main-color;
        }

        &  a{
            @include body($main-color);
            text-decoration: none;

            &:hover {
                color: $text-color;
            }
        }
    }

}


@mixin thumb-input-number {
    display: inline-flex;
    align-items: center;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    @include body($text-color);
    font-size: 16px;
    line-height: 16px;
    margin-right: auto;
    margin-left: auto;
    flex-shrink: 0;
    width: 110px;

    & button {
        width: 32px;
        height: 36px;
        cursor: pointer;
        background: none;
        transition: 0.35s;
        font-size: 24px;
        line-height: 24px;
        @include body($main-color);
        background-color: #fff;
        border-radius: 10px;
        padding-bottom: 2px;
        margin: 4px;
        border: none;

        &:first-child {
            font-size: 30px;
        }
    }

    & .product-qty {
        width: 30px;
        height: 44px;
        font-weight: 600;
        text-align: center;
        border:none;

        &:focus{
            outline:none;
        }
    }

    & button:hover {
        background-color: $primary-color;
    }
}

@mixin cabinet-buttons {
  display: flex;
  justify-content: space-between;
}

@mixin btn-cabinet{
    @include btn-order;
    max-width: 257px;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    height: 56px;
}

@mixin btn-cabinet-left{
  background-color: white;
  border: 2px solid $primary-color;

  &:hover {
    background-color: $primary-color;
  }
}
