@use '@angular/material' as mat;
@import 'variables';
@import 'mixins';
@import 'fonts';


$primary-default-value: (
  50: #d2e6f8,
  100: #d2e6f8,
  200: #d2e6f8,
  300: #b5d8f7,
  400: #b5d8f7,
  500: #b5d8f7,
  600: #b5d8f7,
  700: #97c9f5,
  800: #97c9f5,
  900: #97c9f5,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
);

$warn-default-value: (
  50: #EB5757,
  100: #EB5757,
  200: #EB5757,
  300: #EB5757,
  400: #EB5757,
  500: #EB5757,
  600: #EB5757,
  700: #EB5757,
  800: #EB5757,
  900: #EB5757,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
)
);

@include mat.core();
$custom-theme-primary: mat.define-palette($primary-default-value, 500, 100, 700);
$custom-theme-accent:  mat.define-palette(mat.$brown-palette, A200, A100, A400);
$custom-theme-warn:    mat.define-palette($warn-default-value);
$custom-theme: mat.define-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
@include mat.all-component-themes($custom-theme);

.dialog-back {
    background-color: rgba(48, 46, 46, 0.701);
}

.auth-dialog {
    width: 600px;
    min-height: 400px;    
    @include body($main-color);
}



.auth-dialog .mat-dialog-container {
  border-radius: 15px;
  padding: 50px 60px 45px 60px;

}

.form input{
  width: 100%;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: normal;
  height: 56px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  color: $text-color;
  line-height: 56px;
  padding: 0 20px 0 23px;
  transition: 0.35s;
  text-overflow: ellipsis;

}



.modal-header{
  display: block;
  font-size: 26px;
  @include text-bold($text-color);
  text-align: center;
  margin-bottom: 5px;
}

.form:not(:first-child) {
  margin-top: 30px;
}

.form:not(:last-child) {
  margin-bottom: 20px;
}

.form {
  text-align: left;
  margin-bottom: 20px;
}

.form input:focus{
  outline:none;
  border-color: $primary-color;
}

.form .btn-login{
  border: 2px solid $primary-color;
  transition: .35s;
  text-transform: uppercase;
  @include text-bold($text-color);
  font-size: 16px;
  line-height: 20px;
  padding: 16px 22px;
  border-radius: 10px;
  text-align: center;
  box-shadow: none;
}


.btn-login:hover{
  background-color: white;

}

.btn-login:disabled{
    pointer-events: none;
    border-color: #dcdcdc;
    background: #dcdcdc;
    color:$text-color;
    font-weight: bold;
}

.open-popup{
  color: $text-color;
  border: none;
  font-weight: bold;
  text-decoration: none;
  background: linear-gradient(to bottom, transparent 0%, transparent 90%, $primary-color 100%);
  background-size: 200% 100%;
  background-position: 200% 0;
  background-repeat: no-repeat;
  transition: all 0.5s linear;
}

.btn:hover{
  background-position: 100% 0;
  color:$primary-color;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.form .flex input{
  &:first-child{
    margin-right: 5px;
  }

  &:last-child{
    margin-left: 5px;
  }
}

.text-bottom{
  line-height: 52px;
}

.btn-close-modal {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: white;
  border-radius: 15px;
}

.btn-close-modal span {
  position: absolute;
  top: 50%;
  left: 50%;    
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  display: block;
}

.btn-close-modal span::before, .btn-close-modal span::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  border-radius: 5px;
  width: 20px;
  height: 2px;
  transition: .35s;
  background: #5A5A5A;
  transform: rotate(45deg);
}

.btn-close-modal span::after {
  transform: rotate(135deg);
}

.btn-close-modal span:hover::after,
.btn-close-modal span:hover::before {
  background-color: #b5d8f7;
  text-decoration: none;
  outline: none;
  opacity: .75;
}

.auth-dialog-basket {
  right: 0;
  top: 80px;
  width: 664px;
  border-radius: 0 0 10px 10px;
}

.cart-popup-out {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cart_items {
  max-height: calc(100vh - 200px);
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}

.prod_horiz {
  position: relative;
  padding: 9px 20px 9px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100px;

  & a.title:hover {
      color: $primary-color;
  }
}
.prod_horiz+.prod_horiz {
  border-top: 1px solid #dcdcdc;
}

.title {
  @include text-bold($text-color);
}

.cart-empty-message {
  text-align: center;
  display: none;
  max-width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  display: block;

  & .cart-empty-img {
      max-width: 100px;
      margin: 0 auto;

      & img {
          width: 100px;
      }

      & .title {
          margin-bottom: 15px;
          @include text-bold($text-color);
      }

      &:only-child {
          display: block;
      }
  }


  .h5 {
      font-size: 20px;
      line-height: 1.75em;
  }
} 

  .bg-mono {
      background-color: $primary-color;         
  }

  .cart_bottom { 
      padding: 20px 20px 20px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: auto;
      width: 100%;
      border-radius: 0 0 10px 10px;
      

      & .cart_price-wrap {            
          @include body($text-color);
      }
      & .card-total-price {
          font-size: 130%;
      }

      & .btn {
          margin-left: 10px;
          flex-shrink: 0;
          text-transform: unset;
      }
  }

  b{
      @include text-bold($text-color);        
  }

  .btn-order {
      border: 2px solid #fff;
      background: #fff;
  }
  .btn-order:hover {
      border: 2px solid #fff;
      background: $primary-color;
  }
  .btn-order-empty {
      border: 2px solid $primary-color;
      background: $primary-color;

      &:hover{
          border: 2px solid $primary-color;
      background: #fff;
      }
  }        

  .btn {
      display: inline-block;
      vertical-align: bottom;
      text-align: center;
      position: relative;
      cursor: pointer;
      text-decoration: none;
      transition: .35s;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 20px;
      padding: 16px 22px;
      border-radius: 10px;
      @include text-bold($text-color); 
      
      &.disabled {
          pointer-events: none;
          border-color: #dcdcdc;
          background: #dcdcdc;
      }
      
  }
  
  .prod_horiz-controls {
      display: flex;
      align-items: center;
  }

  .prod_horiz-desc{
      padding: 0 10px 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
  }
  
  .img{
      width: 100px;
  }
  .prod_horiz-img:hover {
      opacity: .7;
  }

  .title {
      position: relative;
      overflow: hidden;
      max-height: 4em;
      font-size: 16px;
      line-height: 1em;
  }

  a {
      text-decoration: none;
      transition: .35s;
  }

  .thumb-input-number {
      @include thumb-input-number;
  }

  .prod_horiz-controls .price_default {
      width: 90px;
      text-align: center;
      line-height: 1em;
      margin: 0 5px;
      font-size: 16px;
  }

  .prod_horiz .btn-close {
      width: 14px;
      height: 20px;
      cursor: pointer;
      position: relative;
      background: #fff;
  }

  .trash {
      width: 14px;
      height: 16px;
      position: absolute;
      top: 50%;
      left: 50%;        
      transform: translate(-50%, -50%);

      &::before {
          content: '';
          position: absolute;
          bottom: -1px;
          left: 50%;
          transform: translate(-50%, 0);
          width: 10px;
          height: 12px;
          background: $main-color;
          border-radius: 0 0 3px 3px;
          transition: .35s;
      }

      &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 4px;
          left: 50%;
          top: 0;            
          transform: translate(-50%, 0);            
          clip-path: polygon(35% 0, 65% 0, 75% 50%, 100% 50%, 100% 100%, 0 100%, 0 50%, 25% 50%);
          background: $main-color;            
          transition: .35s;
      }
      
      
  }

  .trash:hover:after {
      top: -4px;
      background: $primary-color;
  }

  .trash:hover::before {
      background:  $primary-color;
  }

