<div class="container">
  <div class="spacer-sm"></div>
  <div class="row justify-content-center">
    <div class="col-xl-12 col-12">
      <img src="assets/home/main-banner.png" alt="">
    </div>
  </div>
  <div class="spacer-sm"></div>
</div>
  <div class="after-banner bg-mono">
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="after-banner-item">
              <div class="after-banner-img">
                <img src="assets/delivery/green.svg" alt="" oncontextmenu="return false">
              </div>              
              <a class="btn-banner" [routerLink]="[ '/delivery' ]" routerLinkActive="route-active">зони доставки</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="after-banner-item  after-banner-item-line">
              <div class="after-banner-img">
                <img src="assets/home/mono-supermen.svg" alt="" oncontextmenu="return false">
              </div>
              <div class="after-banner-info">
                Середній час доставки в зеленій зоні <b>00:43:00</b>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="after-banner-item after-banner-item-line2">
              <div class="after-banner-img">
                <img src="assets/home/mono-bonus.svg" alt="" oncontextmenu="return false">
              </div>
              <div class="after-banner-info">
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="spacer-lg"></div>     
