/* @import '../../shared/styles/fonts';
@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';  */
/* 
.modal-wrapper {
    position: absolute;
    top: -33%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.603);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
} */
/* 
.modal-container {
    width: 600px;
    height: 400px;
    background-color: white;
    border-radius: 15px;
    padding: 50px 60px 45px 60px;
    font-family: 'RotondaC' , sans-serif ;
    position: relative;
} */

.limiter {
    width: 100%;
    margin: 0 auto;
  }
  
  .modal-wrapper  {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #11111175);
    background: linear-gradient(to right, #434343, #0000007c);
  }
  
  .modal-container {
    width: 600px;
    min-height: 400px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    padding: 50px 60px 45px 60px;
  }
  

.form input:invalid {
    border-color: #eb5757!important;
}


.modal-header{
    display: block;
    font-size: 26px;
    font-family: 'RotondaCBold' , sans-serif ;
    color: #252525;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.form:not(:first-child) {
    margin-top: 30px;
}

.form:not(:last-child) {
    margin-bottom: 20px;
}

.form {
    text-align: left;
    margin-bottom: 20px;
}


.form input{
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: normal;
    height: 56px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    color: #252525;
    line-height: 56px;
    padding: 0 20px 0 23px;
    transition: 0.35s;
    text-overflow: ellipsis;

}

.form input:focus{
    outline:none;
    border-color: #b5d8f7;
}

.btn-login{
    border: 2px solid #b5d8f7;
    background: #b5d8f7;
    transition: .35s;
    text-transform: uppercase;
    font-family: 'RotondaCBold' , sans-serif ;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    padding: 16px 22px;
    border-radius: 10px;
    color: #252525;
    text-align: center;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}


.btn-login:hover{
    background-color: white;

}
.modal-container .btn-close-modal {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    /* color: #b5d8f7; */
    border: none;
    background-color: white;
    border-radius: 15px;
}

.btn-close-modal span {
    position: absolute;
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    display: block;
}

.btn-close-modal span::before, .btn-close-modal span::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    border-radius: 5px;
    width: 20px;
    height: 2px;
    transition: .35s;
    background: #5A5A5A;
    transform: rotate(45deg);
}

.btn-close-modal span::after {
    transform: rotate(135deg);
}

.btn-close-modal span:hover::after,
.btn-close-modal span:hover::before {
    background-color: #b5d8f7;
    text-decoration: none;
    outline: none;
    opacity: .75;
}

.error-message {
    color: red;
    text-align: center;
    line-height: 30px;
    display: none;
}

.active{
    display: block;
}

.hide{
    display: none;
}

.open-popup{
    color: #252525;
    border: none;
    font-weight: bold;
    text-decoration: none;
    background: linear-gradient(to bottom, transparent 0%, transparent 90%, #b5d8f7 100%);
    background-size: 200% 100%;
    background-position: 200% 0;
    background-repeat: no-repeat;
    transition: all 0.5s linear;
}

.btn:hover{
    background-position: 100% 0;
    color:#b5d8f7;
}