
<div class="row ms-3">
    <ng-container *ngIf="isOpen">    
        <div class="col-12">
            <form [formGroup]="productForm" (ngSubmit)="addProduct()">
                <button [disabled]="productForm.invalid"  type="submit" class="btn-add">
                    {{ editStatus ? 'Змінити продукт' : 'Додати продукт' }}
                </button>
                <div class="row">
                    <div class="col-2 mb-3">
                    <label for="name" class="form-label">*Категорія</label>
                    <select formControlName="category" class="form-select col-2">
                        <option [ngValue]="category"  *ngFor="let category of adminCategories">{{category.name}} 
                        </option>
                    </select> 
                    <!-- <p>{{currentCategoryName}}</p>                  -->
                </div>
                <div class="col-2 mb-3">
                    <label for="name" class="form-label">*Тип продукту</label>
                    <select formControlName="type_product" class="form-select col-2">
                        <option [ngValue]="type_product"   *ngFor="let type_product of adminTypeProducts">{{type_product.name}} 
                        </option>
                    </select>                              
                </div>
                <div class="col-4 mb-3">
                    <label for="name" class="form-label">*Назва</label>
                    <input formControlName="name" name="name" type="text" class="form-control" id="name">
                </div>
                <div class="col-4 mb-3">
                    <label for="path" class="form-label">*Шлях</label>
                    <input formControlName="path" name="path" type="text" class="form-control" id="path">
                    <div class="invalid-feedback">Path is required</div>
                </div>
                </div>  
                <div class="row">
                    <div class="col-6 mb-3">
                    <label for="weight" class="form-label">*Інградієнти</label>
                    <input formControlName="ingredients" name="ingredients" type="text" class="form-control" id="weight">
                </div>
                <div class="col-2 mb-3">
                    <label for="weight" class="form-label">*Вага</label>
                    <input formControlName="weight" name="weight" type="text" class="form-control" id="weight">
                </div>
                <div class="col-2 mb-3">
                    <label for="price" class="form-label">*Ціна</label>
                    <input formControlName="price" name="price" type="number" class="form-control" id="price">
                </div>
                <div class="col-2 mb-3">
                    <label for="price_old" class="form-label">*Стара ціна</label>
                    <input formControlName="price_old" name="price_old" type="number" class="form-control" id="price_old">
                </div>
                </div>  
            <ng-container *ngIf="!isUploaded">
                <div class="mb-3">
                    <label for="formFile" class="form-label">Default file input example</label>
                    <input class="form-control" type="file" id="formFile" (change)="upload($event)">
                </div>
                <div class="progress mb-3">
                    <div class="progress-bar progress-bar-striped" role="progressbar" 
                        [style.width.%]="uploadPercent" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="isUploaded">
                <div>
                    <img [src]="valueByControl('imagePath')" width="100px" alt="">
                </div>
                <div>
                    <button type="button" class="btn-exit mt-3" (click)="deleteImage()">delete</button>
                </div>
            </ng-container>          
            </form>
        </div>
    </ng-container>

  <button class="btn-add ms-3" (click)="openForm()" *ngIf="!isOpen">Додати продукт</button>
  <div class="col-12 d-flex justify-center" *ngIf="!isOpen">
        <table class="table">
            <thead class="table-category">
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Категорія</th>
                    <th scope="col">Тип продукту</th>
                    <th scope="col">Назва</th>
                    <th scope="col">Шлях</th>
                    <th scope="col">Інградієнти</th>
                    <th scope="col">Вага</th>
                    <th scope="col">Ціна</th>
                    <th scope="col">Стара ціна</th>
                    <th scope="col">Картинка</th>
                    <th scope="col">Дії</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of adminProducts; let id=index">
                    <td>№ {{ id+1 }}</td>
                    <td>{{ product.category.name }}</td>
                    <td>{{ product.type_product.name }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.path }}</td>
                    <td>{{ product.ingredients | slice:0:15 }} <span *ngIf="product.ingredients">...</span></td>
                    <td>{{ product.weight }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.price_old }}</td>
                    <td>
                        <img [src]="product.imagePath" alt="" height="30px">
                    </td>
                    <td>
                        <button (click)="editProduct(product)" type="button" class="btn">Редагувати</button>
                        <p>
                            <button [disabled]="editStatus" (click)="deleteProduct(product)" type="button" class="btn">Видалити</button>
                        </p>                      
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>