<div class="main-header">
  <hr>
  Доставка та оплата
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-12">
      <div class="row">
        <div class="col-lg-6">
          <div class="delivery-info green">
            <div class="delivery-info-img">
              <img src="./../../../assets/delivery/green.svg" oncontextmenu="return false">
            </div>
            <div class="delivery-info-text text-center">
              <div class="h4 title">Зелена зона</div>                                            
              <div class="text-sm">
                <p>В межах зеленої зони ми доставляємо протягом 
                  <span><b>1</b> год.</span>
                </p>
                <p>Мінімальна сума замовлення в цю зону становить 
                  <span><b>300</b> грн</span>
                </p>
              </div>
            </div>   
          </div>                             
        </div>
        <div class="col-lg-6">
          <div class="delivery-info yellow">
            <div class="delivery-info-img">
              <img src="./../../../assets/delivery/green.svg" oncontextmenu="return false">
            </div>
            <div class="delivery-info-text text-center">
              <div class="h4 title">Жовта зона</div>                                            
              <div class="text-sm">
                <p>В межах жовтої зони ми доставляємо протягом 
                  <span><b>1.5</b> год.</span>
                </p>
                <p>Мінімальна сума замовлення в цю зону становить 
                  <span><b>400</b> грн</span>
                </p>
              </div>
            </div>   
          </div>                             
        </div>
      </div>  
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-10 col-12">
            <div class="delivery-map-block ">

              <div class="map-block"> 
                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d82344.2604284007!2d24.077571!3d49.837607!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sus!4v1666470702566!5m2!1suk!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" style="z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none;"></iframe>
              </div>


            </div>
        </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-xl-9 col-lg-11 col-12">
          <div class="text-md text-center1">
              Команда «Monosushi» пропонує надзвичайно зручну систему доставки та оплати. Чіткість наших стандартів роботи забезпечує швидке і якісне виконання замовлень для наших гостей.
              <br>
              <br>
              Ми поділили Львів на умовні зони доставки – зелену та жовту. Для кожної зони ми чітко визначаємо час доставки.
              <br>
              Зелена зона доставки знаходиться ближче до нашої кухні, тому замовлення в цю зону доставляються – до 1 год. В жовту зону, яка знаходиться значно далі – до 1,5 год.
          </div>
      </div>
  </div>

  <div class="spacer-lg"></div>
  <h2 class="title text-center">Оплата</h2>
  <div class="spacer-sm"></div>
  <div class="row pai-info">
    <div class="col-lg-4 col-12">
      <div class="pay-info-item">
        <div class="pay-info-img">
          <img src="assets/delivery/pay-info3.svg" alt="" oncontextmenu="return false">                                            
        </div>
        <div class="pay-info-text">
          <h5 class="title">Оплата готівкою</h5>                                            
          <div class="text-sm">
            <p>Розраховуйтесь за свої улюблені сушики готівкою при отриманні.</p>
          </div>                                        
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-12">
      <div class="pay-info-item pay-info-item-line">
        <div class="pay-info-img">
          <img src="assets/delivery/pay-info4.svg" alt="" oncontextmenu="return false">                                            
        </div>
        <div class="pay-info-text">
          <h5 class="title">Безготівкова оплата</h5>
          <div class="text-sm">
            <p>Розраховуйтесь за свої улюблені сушики онлайн або карткою при отриманні.</p>
          </div>                                        
        </div>
      </div>
    </div>
  </div>

  <div class="spacer-lg"></div>

  <div class="row justify-content-center">
    <div class="col-xl-9 col-lg-11 col-12">
        <div class="text-md text-center1">
            Ми пропонуємо Вам 3 найпоширеніші варіанти для розрахунку: готівка, оплата онлайн або ж розрахунок карткою.
            <br>
            <br>
            Просто позначте найбільш зручний для Вас спосіб оплати при оформленні замовлення на сайті або ж повідомте про це оператора по телефону.
            <br>
            <br>
            Доставка «Моносуші» – це чіткі стандарти роботи, високий рівень сервісу та турбота про кожного гостя. Ми щодня розвиваємось, щоб почути лише три слова «Моносуші – це любов».                                
        </div>
    </div>
  </div>
  <div class="spacer-lg"></div>
  </div>
</div>
