
@import '../../shared/styles/fonts';
@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';



@media (max-width: 1199px){
.dialog-basket {
    margin-top: 60px;
    max-width: 100vw;
    }
}

@media screen and (max-width: 767px) {
    .thumb-input-number{
        @include thumb-input-number-media;
    }

    .price_default {
        max-width: 75px;

        & .price {
            width: 76px;
            font-size: 16px;
            line-height: 20px;        
        }   
    }  
    

    .prod_horiz-desc {
        padding: 0 10px;
        flex-wrap: wrap;
    }

    .prod_horiz-controls {
        width: 100%;
        margin-top: 10px;
    }

    .cart_bottom .cart_price-wrap{
        font-size: 14px;
    }
}

@media screen and (max-width: 575px){

    .prod_horiz-desc {
        padding: 0 10px;
        flex-wrap: wrap;
    }

    .prod_horiz-controls {
        width: 100%;
        margin-top: 10px;
    }

}

@media screen and (max-width: 360px){
    .prod_horiz{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    .prod_horiz-desc{
        margin-top: 10px;
    }

    .cart_bottom {
        padding: 7px ;
    }

    .cart_price-wrap{
        font-size: 12px;
    }

    .btn-order{
        padding: 7px;
        font-size: 12px;
    }

    .prod_horiz-controls{
        @include product_controls-media;
    }

    .card-total-price{
        font-size: 13px;
    }
}

