
@import '../../shared/styles/fonts';
@import '../../shared/styles/variables';
@import '../../shared/styles/mixins'; 



.cart_bg-layer {
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.41);

}

.cart.active+.cart_bg-layer {
    opacity: 1;
    visibility: visible;
    backdrop-filter: blur(2px);
    transition: all 0.35s,backdrop-filter 0.1s 0.25s;
}
.cart.active {
    top: 110px;
    max-height: calc(100vh - 110px);
    height: auto;
    opacity: 1;
    visibility: visible;
}

.cart {
    position: fixed;
    right: 0;
    top: 80px;
    width: 664px;
    z-index: 99;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    flex-direction: column;
    transition: 0.35s;
    border-top: 1px solid #dcdcdc;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    border-radius: 0 0 10px 10px;
}

.cart-popup-out {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cart_items {
    max-height: calc(100vh - 200px);
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    // max-height: 100%;
    height: 100%;
}

.prod_horiz {
    position: relative;
    padding: 9px 20px 9px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100px;

    & a.title:hover {
        color: $primary-color;
    }
}
.prod_horiz+.prod_horiz {
    border-top: 1px solid #dcdcdc;
}

.title {
    @include text-bold($text-color);
}

.cart-empty-message {
    text-align: center;
    display: none;
    max-width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    display: block;

    & .cart-empty-img {
        max-width: 100px;
        margin: 0 auto;

        & img {
            width: 100px;
        }

        & .title {
            margin-bottom: 15px;
            @include text-bold($text-color);
        }

        &:only-child {
            display: block;
        }
    }


    .h5 {
        font-size: 20px;
        line-height: 1.75em;
    }
} 

    .bg-mono {
        background-color: $primary-color;
        // background-image: url(../img/bg-monosushi-logo.svg),url(../img/bg-monosushi-logo.svg);
        background-repeat: repeat;
        background-position: 0 0,190px -52px;
    }

    .cart_bottom { 
        padding: 20px 20px 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
        border-radius: 0 0 10px 10px;
        border-top: none !important;

        & .cart_price-wrap {            
            @include body($text-color);
        }
        & .card-total-price {
            font-size: 130%;
        }

        & .btn {
            margin-left: 10px;
            flex-shrink: 0;
            text-transform: unset;
        }
    }

    b{
        @include text-bold($text-color);        
    }

    .btn-order {
        border: 2px solid #fff;
        background: #fff;
    }
    .btn-order:hover {
        border: 2px solid #fff;
        background: $primary-color;
    }
    .btn-order-empty {
        border: 2px solid $primary-color;
        background: $primary-color;

        &:hover{
            border: 2px solid $primary-color;
        background: #fff;
        }
    }        

    .btn {
        display: inline-block;
        vertical-align: bottom;
        text-align: center;
        position: relative;
        cursor: pointer;
        text-decoration: none;
        transition: .35s;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 20px;
        padding: 16px 22px;
        border-radius: 10px;
        @include text-bold($text-color); 
        
        &.disabled {
            pointer-events: none;
            border-color: #dcdcdc;
            background: #dcdcdc;
        }
        
    }
    
    .prod_horiz-controls {
        display: flex;
        align-items: center;
    }

    .prod_horiz-desc{
        padding: 0 10px 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    
    .img{
        width: 100px;
    }
    .prod_horiz-img:hover {
        opacity: .7;
    }

    .title {
        position: relative;
        overflow: hidden;
        max-height: 4em;
        font-size: 16px;
        line-height: 1em;
    }

    a {
        text-decoration: none;
        transition: .35s;
    }

    .thumb-input-number {
        @include thumb-input-number;
    }

    .prod_horiz-controls .price_default {
        width: 90px;
        text-align: center;
        line-height: 1em;
        margin: 0 5px;
        font-size: 16px;
    }

    .prod_horiz .btn-close {
        width: 14px;
        height: 20px;
        cursor: pointer;
        position: relative;
        background: #fff;
    }

    .trash {
        width: 14px;
        height: 16px;
        position: absolute;
        top: 50%;
        left: 50%;        
        transform: translate(-50%, -50%);

        &::before {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 50%;
            transform: translate(-50%, 0);
            width: 10px;
            height: 12px;
            background: $main-color;
            border-radius: 0 0 3px 3px;
            transition: .35s;
        }

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            left: 50%;
            top: 0;            
            transform: translate(-50%, 0);            
            clip-path: polygon(35% 0, 65% 0, 75% 50%, 100% 50%, 100% 100%, 0 100%, 0 50%, 25% 50%);
            background: $main-color;            
            transition: .35s;
        }
        
        
    }

    .trash:hover:after {
        top: -4px;
        background: $primary-color;
    }

    .trash:hover::before {
        background:  $primary-color;
    }


    .cart .cart-close {
        position: absolute;
        right: 50px;
        top: 35px;
        display: none !important;
    }


@media (max-width: 1599px){
    .cart.active {
        top: 95px;
        max-height: calc(100vh - 95px);
    }
}


@media (max-width: 1200px){
    .cart.active {
        top: 60px;
        max-height: calc(100vh - 60px);
    }

    .cart {
        top: 50px;
    }
}

@media (max-width: 767px){
    .cart.active {
        top: 60px;
        max-height: calc(100vh - 120px);
    }
    .cart {
        width: 100%;
    }

    .prod_horiz {
        padding: 5px;
    }
}
