@import '../../../shared/styles/fonts';
@import '../../../shared/styles/variables';
@import '../../../shared/styles/mixins';


body{
  @include body($main-color);
  font-size: 16px;
}

.table-category {
  border-bottom: 2px solid $primary-color;
  font-size: 16px;
  @include text-bold($main-color);
  padding: 0;
}


tbody{
  @include body($main-color);
  font-size: 16px;
}

tr{
  vertical-align: middle;
}

td button {
  @include btn-save;
}

td {
  vertical-align: top;
  min-height: 30px;
}


.table-width{
  // width: 150%;
}

b{
  @include text-bold($main-color);
}

.td-color{
  @include body($primary-color);
}

@media screen and (max-width: 575px){

  .table-category{
    font-size: 12px !important;
    // white-space: pre-wrap;
    word-wrap: break-word;
  }
  .th-title{
    word-break: break-all;
  }
  td {
    font-size: 12px;
    // word-break: break-all;
    // white-space: pre-wrap;
    word-wrap: break-word;
  }
  
}
